<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:slug]} type="text" label="Slug" />
  <.input field={f[:description]} type="textarea" label="Description" />
  <.input field={f[:content]} type="textarea" label="Content" />
  <footer>
    <.button variant="soft">Save Post</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
