<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.card
    title={@post.title}
    label={"by #{@post.author.username}"}
    phx-click={JS.navigate(~p"/posts/#{@post.slug}")}
  >
    {@post.content}
  </.card>
</Layouts.app>
